@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;

    overflow-y:hidden;
    overflow-x:hidden;

    font-family: 'Roboto Slab', serif;

}

.container 
{
    width: 100vw;
    height: 100vh;
    background-color: #E1E6FA;

    display: grid;
    grid-template-columns: 50px 1860px;
    grid-template-rows: 60px 50px 840px;
    grid-template-areas: 
    "aside header"
    "aside nav"
    "aside main"
    ;
    gap: 5px;

}

header
{
    background-color: #E1E6FA;
    grid-area: header;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px #183152;
    

}

.barra_de_pesquisa 
{
    
    display: flex;
    justify-content: center;
    
}

.barra_de_pesquisa > input {
    outline: 0;
    border: 0;
    background-color: #E1E6FA;
    width: 0;
    margin: 0;
    padding: 0;
    transition: 2s;
}

.loopa
{
    background-color: #E1E6FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_de_pesquisa:hover > input {
    width: 140px;
    border-bottom: 2px solid black;
    
}




.header_titulo
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_titulo >h1 {
    margin: 0px 25px;
}


#-------------------------------------------NAV---------------------------------------------*/

nav
{
    background-color: #E4BA8F;
    grid-area: nav;
    display: flex;

 
}
 

.nav_esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}




.botao_criar_nav
{
    color: #ffffff;
    width: 10%;
    height: 80%;
    background-color: #183152;
    border: none;
    border-radius: 50px;
    
}

/*---------------------------------------------------MAIN-------------------*/


main
{
    background-color: #E1E6FA;
    grid-area: main;
    
    border-radius: 2%;
    display: grid;
    grid-template-columns: 205fr 205fr 205fr 205fr;
    grid-template-rows: auto;
    column-gap: 10px;
    
}

main > div{
    box-shadow: 8px 8px 6px -6px #183152;
}

main > div > h3{
    color: #183152;
}

.zona_ativada
{
    background: #C4D7ED;
}

.fazendo_drag
{
    cursor: move;
    opacity: 0.3;
}

/*--------------------------------------Aside----------------------------*/

aside
{
    background-color: #183152;
    grid-area: aside;
    border-top-right-radius: 10px;
    border-end-end-radius: 18px;

}

.aside_cima 
{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.botao_criar_aside
{

    width: 80%;
    height: 15%;
    background-color: #BDE8E5;
    border: none;
    border-radius: 45%;
}*/


.aside_baixo 
{
    height: 60%;
}


