body
{
    padding: 0;
    margin: 0;
}

.container
{

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "h h"
    "e d";

}

header
{
    grid-area: h;
}

.titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.telaEsquerda
{
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    
}

.conteudoEsquerda
{
    background-color: rgb(162, 162, 185);
    width: 40vw;
    height: 80%;

    
    display: flex;
    align-items: end;
    flex-direction: column;
}

.conteudoEsquerda > h2
{
    color: aliceblue;
    width: 9vw;
}



.telaDireita
{
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    flex-direction: column;
}


.telaDireita > table > td > input
{
    width: 2vw;
}