@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 6fr;

    margin: 0;
    background: #E1E6FA;
    border: 0;
    box-sizing: border-box;
    padding: 0;

    font-family: 'Roboto Slab', serif;
}


/*---------------------------------------------------------Lateral esquerda-----------------------------------------------------------------------------------------------------------*/


.lateral_esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.inputs {
    border-radius: 5%;
    width: 80%;
    height: 90%;
    background: #c5cce9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.inputClass > input {
    font-size: 20px;
    font: "open sans extra bold";
    margin: 20px;
    background: #c5cce9;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);;
    
}

.InputBotao > button {
    background: #FFFAEB;
    border-radius: 10%;
    font-size: 20px;
    border: 0;
    margin: 15px;
    padding: 10px;

}




.bola {
    display: flex;
    background-color: #000000;
    border-radius: 50%;
    width: 25%;
    height: 20%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


/*---------------------------------------------------------Lateral Direita-----------------------------------------------------------------------------------------------------------*/


.lateral_direita{
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: center;
   


}



.comentario > textarea
{
    font-size: 20px;
    width: 50vw;
    height: 60vh;
    border: 0;
    border-radius: 15px;
}

.comentario > button
{
    width: 10vw;
    height: 5vh;
    
}

.form_comentarios > fieldset
{
    width: 8.5vw;
}