@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto+Slab:wght@500&display=swap');

body
{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.telaModal
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #ffffffab;

    display: none;
    justify-content: center;
    align-items: center;
}

.telaModal.ola
{
    display: flex;
}




.botaoSair > button
{
    background-color: red;
    position: absolute;
    bottom: 73vh;
    left: 22.5vw;
    width: 3vw;
    height: 3vh;
    border-radius: 15px;
}

.containerForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.formOdonto
{
    width: 25vw;
    height: 70vh;
    background-color: #2DA3E2;
    margin: 0px 30px 0px 30px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.formOdonto > form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formOdonto > h1
{
    font-size: 1.6vw;
}

.formOdonto > form > div
{
    margin: 1vw;
    
}

.formOdonto > form > div > input
{
    border: 0;
    width: 12vw;
    height: 3vh;
    border-radius: 15px;
    
}

.botoes > button
{
    background-color: aqua;
    border: 0;
    border-radius: 15px;
    width: 10vw;
    height: 3vh;
}

/*----------------------------------SECRETARIA----------------*/

.formSecre
{
    width: 25vw;
    height: 70vh;
    background-color: #2DA3E2;
    margin: 0px 30px 0px 30px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.formSecre > form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSecre > h3
{
    font-size: 1.6vw;
}

.formSecre > form > div
{
    margin: 1vw;
    
}

.formSecre > form > div > input
{
    border: 0;
    width: 12vw;
    height: 3vh;
    border-radius: 15px;
    
}

.botoes > button
{
    background-color: aqua;
    border: 0;
    border-radius: 15px;
    width: 10vw;
    height: 3vh;
}





/*----------------------------------------------------------------CONTAINER GERAL------------------------------*/

.container
{
    width: 100vw;
    height: 100vh;

    background-color: #4567FF;

    display: grid;
    grid-template-columns: 8vw 46vw 38vw 8vw;
    grid-template-rows: 14vh  40vh 40vh 6vh;

    grid-template-areas: 
    "a1 h h a2"
    "a1 td tf a2"
    "a1 td tf a2"
    "a1 f f a2"
    ;

    

}

.asideDireito
{
    grid-area: a2;
}

/*-----------------------------------ASIDE ESQUERDO-----------------------*/

.asideEsquerdo
{
    grid-area: a1;
}

.containerAside
{
    grid-area: a;
    
   
    width: 2vw;
    height: 100vh;
    background-color: #FFFFFF;
    transition: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
  
}

.containerAside:hover 
{
 
    
    width: 7vw;
  
}

.containerAside:hover .asideCima > button
{
    width: 4.5vw;
    font-size: 0.7vw;
    
}

.asideCima > button:hover
{
    transform: translateY(-5px);
    background-color: #0CC0DF;
    
}

.containerAside:hover .asideTitulo > h2 
{
    transform: rotate(0deg);
}


.asideTitulo
{
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asideTitulo > h2
{
    transform: rotate(-90deg);
    font-size: 1.3vw;
    transition: 1s;
    
    
    
}


.asideCima
{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.asideCima > button {
    margin-top: 20px;
    border-radius: 20px;
    width: 1.5vw;
    height: 4vh;
    font-size: 0;
    transition: 1s;
    
    border: 2px solid#0CC0DF;
}


.asideBaixo
{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------HEADER-----------------------*/

header
{
    grid-area: h;
}

/*-----------------------------------CONTAINER DATA-----------------------*/


.containerData
{
    grid-area: td;

    display: flex;
    flex-direction: column;



}

.tituloData
{
    width: 15vw;
    height: 6vh;
    background-color: #FFFFFF;
    border-radius: 20px;

    
    
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisarDiv
{
    display: flex;
    justify-content:center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background: linear-gradient(90deg, rgba(205,255,216,0.4) 0%, rgba(148,185,255,1) 35%);
}


.formPesquisar
{
    margin-top: 20px;
    margin-bottom: 20px;

    width: 12vw;
    height: 4vh;

    border-radius: 20px;
    

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;
}

.formPesquisar > button
{
    border: none;
    background-color: white;
}


.inputPesquisa
{
    border: none;
    outline: none;
}

.tabelaData
{
    height: 68vh;
    width: 46vw;

    display: flex;
    justify-content: center;



    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(90deg, rgba(205,255,216,0.4) 0%, rgba(148,185,255,1) 35%);
}

.tituloDataTabela
{
    width: 8vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 20px;

    text-align: center;
}



.containerFuncionario
{
    grid-area: tf;
    margin-left: 20px;
}

.tituloFuncionario
{
    width: 15vw;
    height: 6vh;
    background-color: #FFFFFF;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
}

.tabelaFuncionarios
{
    height: 63vh;
    width: 40vw;

    display: flex;
    justify-content: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    

    
    background: linear-gradient(90deg, rgba(205,255,216,0.4) 0%, rgba(148,185,255,1) 35%);
}

.tituloData
{
    width: 15vw;
    height: 6vh;
    background-color: #FFFFFF;
    border-radius: 20px;

    
    
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloFuncionarioTabela
{
    width: 8vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 20px;

    text-align: center;
}

.itemFuncionarioTabela
{
    width: 8vw;
    height: 4vh;
    background-color: #ffffff;
    border-radius: 20px;

    text-align: center;
}

.itemFuncionarioTabela > button
{
    width: 3.5vw;
    height: 2vh;
    background-color: #D9D9D9;

    border-radius: 20px;
    border: none;

    transition: 1s;
}

.itemFuncionarioTabela > button:hover
{
    transform: translateY(-2px);
    background-color: #0CC0DF;
}








.pesquisarDivFuncionario
{
    display: flex;
    justify-content:center;

    width: 40vw;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background: linear-gradient(90deg, rgba(205,255,216,0.4) 0%, rgba(148,185,255,1) 35%);
}


.formPesquisarFuncionario
{
    margin-top: 20px;
    margin-bottom: 20px;

    width: 12vw;
    height: 4vh;

    border-radius: 20px;
    

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;
}

.formPesquisarFuncionario > button
{
    border: none;
    background-color: white;
}


.inputPesquisaFuncionario
{
    border: none;
    outline: none;
}


footer
{
    grid-area: f;
}