body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#E1E6FA,#ABC8E2 );
    width: 100vw;
    height: 100vh;
    
}

.telaModal
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #ffffffab;

    display: none;
    justify-content: center;
    align-items: center;
}

.telaModal.ola
{
    display: flex;
}




.botaoSair > button
{
    background-color: red;
    position: absolute;
    bottom: 73vh;
    left: 22.5vw;
    width: 3vw;
    height: 3vh;
    border-radius: 15px;
}

.containerForm
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.formOdonto
{
    width: 25vw;
    height: 50vh;
    background-color: #2DA3E2;
    margin: 0px 30px 0px 30px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.formOdonto > form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formOdonto > h1
{
    font-size: 1.6vw;
}

.formOdonto > form > div
{
    margin: 1vw;
    
}

.formOdonto > form > div > input
{
    border: 0;
    width: 12vw;
    height: 3vh;
    border-radius: 15px;
    
}

.botoes > button
{
    background-color: aqua;
    border: 0;
    border-radius: 15px;
    width: 10vw;
    height: 3vh;
}

/*----------------------------------SECRETARIA----------------*/

.formSecre
{
    width: 25vw;
    height: 50vh;
    background-color: #2DA3E2;
    margin: 0px 30px 0px 30px ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSecre > form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSecre > h3
{
    font-size: 1.6vw;
}

.formSecre > form > div
{
    margin: 1vw;
    
}

.formSecre > form > div > input
{
    border: 0;
    width: 12vw;
    height: 3vh;
    border-radius: 15px;
    
}

.botoes > button
{
    background-color: aqua;
    border: 0;
    border-radius: 15px;
    width: 10vw;
    height: 3vh;
}


.container
{
    display: grid;
    grid-template-columns: 2vw 68vw 29vw;
    grid-template-rows: 15vh 5vh 75vh 5vh;
    grid-template-areas: 
    "e h h"
    "e n d"
    "e m d"
    "e f f";
}

header
{
    grid-area: h;
    display: flex;
    justify-content: center;
}

.assideDireito
{
    grid-area: d;
    border-radius: 15px;
    border: 2px solid black;
}

.tabelaTitulos
{
    background-color: rgb(134, 207, 236);
    width: 6vw;
    height: 4vh;
    border-radius: 15px;
}

.assideEsquerdo
{
    grid-area: e;
    display: flex;
    align-items: center;
    
}

.assideEsquerdo > h1
{
    transform: rotate(90deg);
    width: 2vw;
    margin: 0;
    padding: 0;
    
}

nav
{
    grid-area: n;
    display: flex;
    
    justify-content: end;
}

nav > button 
{
    margin: 5px;
    border: none;
    border-radius: 15px;
    border: 2px solid #2DA3E2;
    width: 8vw;
    height: 4vh;
    
    transition: 0.5s;

}

nav > button:hover
{
    transform: translateY(-5px);
    background-color: #2DA3E2;
}




main
{
    grid-area: m;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.containerMainEsquerda
{
    width: 0;
    height: 0;
    background-color: red;
    transition: width 0.5s, height 0.5s;
}

.containerMainDireita
{
    width: 34vw;
    height: 75vh;
}


footer
{
    grid-area: f;
}
