body{
    margin: 0;
    padding: 0;

}

.container
{
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgb(141, 227, 227);
    
    display: grid;
    grid-template-columns: 550px 700px;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "registro pesquisa"
    "registro comentario";
}

/*------------------------------Area do Registro------------------------*/

.registro 
{
    grid-area: registro;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: antiquewhite;
}

.registro_icone
{
    border: 2px solid black;
    background-color: blue;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 50%;
    
}

.icone
{

}

form
{
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.form_inputs
{
    
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.form_inputs > input
{
    border: none;
    height: 30px;
    width: 210px;
    margin: 15px;
}

.form_botoes
{
    width: 240px;

    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.form_botoes > button
{
    border: 0;
    width: 60px;
    height: 30px;
    cursor: pointer;

}

/*------------------------------Area da pesquisa------------------------*/

.pesquisa
{
    grid-area: pesquisa;
}

/*------------------------------Area do comentario----------------------*/

.comentario
{
    grid-area: comentario;
}